<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <connectionStrings>
        <add name="E_VotingCstr" connectionString="Data Source=YIRENKYI;Initial Catalog=EvotingDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="E_Voting.My.MySettings.E_VotingCstr" connectionString="Data Source=YIRENKYI;Initial Catalog=EvotingDb;User ID=sa;Password=Functions1689"
            providerName="System.Data.SqlClient" />
        <add name="E_Voting.My.MySettings.EvotingDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=EvotingDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="True">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>